* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 40px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* transform: translateY(400px); */
  /* transform: rotateY(135deg); */
  /* transform: scale(1.5); */
}
