.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.count {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.buttons__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
