/*
h1 {
  color: red;
}
*/

/* h2 {
  color: yellow;
} */

/* p {
  color: red;
} */

/* h1 {
  color: red;
} */

/* .title {
  color: yellow;
} */

/* #super-title {
  color: aqua;
}

.card{
  asdasd
} */

/* #active-card {
  background-color: chartreuse;
}

.card {
  width: 50px;
  height: 50px;
  background-color: pink;
} */

/* .card {
  background-color: green;
}

div {
  background-color: blue;
}

#active-card {
  background-color: gold;
} */

/* .hello {
  color: yellow;
} */
